@page "/datamanager"


@using TradeForge.Components.DataManager
@using TradeForge.Components.Shared.Modals
@using TradeForge.Components.DataManager.Import

<!-- Bulma tabs -->
<div class="tabs is-boxed">
    <ul>
        <li class="@(ActiveTab == "symbols" ? "is-active" : "")">
            <a @onclick="@(() => SetTab("symbols"))">Symbols</a>
        </li>
        @if (selectedSymbol is not null)
        {
            <li class="@(ActiveTab == "settings" ? "is-active" : "")">
                <a @onclick="@(() => SetTab("settings"))">Settings</a>
            </li>
            <li class="@(ActiveTab == "ohlc" ? "is-active" : "")">
                <a @onclick="@(() => SetTab("ohlc"))">OHLC</a>
            </li>
            <li class="@(ActiveTab == "chart" ? "is-active" : "")">
                <a @onclick="@(() => SetTab("chart"))">Chart</a>
            </li>
        }
    </ul>
</div>

<!-- Content area -->
<div class="m-5">
    @switch (ActiveTab)
    {
        case "symbols":
            <SymbolTable Symbols="@symbols"
                         SelectedSymbol="@selectedSymbol"
                         OnSymbolSelected="@(s => selectedSymbol = s)"
                         OnSymbolCreated="@(s => SymbolCreateRequest(s))"
                         OnSymbolDelete="@(s => SymbolDeleteRequest(s))"
                         OnSymbolImport="@(s => SymbolImportRequest(s))"/>
            break;
        case "settings":
            <SymbolSettings/>
            break;
        case "ohlc":
            <OHLCTable Rows="@OHLCRows"/>
            break;
        case "chart":
            <SymbolChart Symbol="@selectedSymbol?.Ticker" Data="@OHLCRows"/>
            break;
    }
</div>

<ConfirmationModal @ref="DeleteSymbolModal"
                   OnSuccess="DeleteSymbolSuccess"
                   YesText="Yes"
                   NoText="No"
                   Title="Symbol deletion"
                   Message=@DeleteSymbolMessageStr/>

<ChildModal Title="Import CSV" @ref="ImportCSVModal">
    <BodyContent>
        <ImportCSVDialog @ref="ImportCSVDialog"/>
    </BodyContent>
    <FooterContent>
        <ImportCSVFooter @ref="ImportCSVFooter" 
                         OnDiscard="OnImportDiscard"
                         OnImport="OnImport"
                         ImportEnabled="@ImportEnabled"/>
    </FooterContent>
</ChildModal>

